@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Hide horizontal overflow */
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: linear-gradient(black, #070b53);
    font-family: "Inter";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    color: #fff;
    font-size: 9em;
    margin: 0;
    padding: 0;
    position: relative;
    top: 45px;
    line-height: 1; 
}

.task-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 15px;
}

#add-task {
    height: 35px;
    width: 120px;
    border: none;
    background-color: #151DB7;
    color: #fff;
    border-radius: 15pc;
    font-family: "Inter";
    box-shadow: 0px 2px 5px rgb(0, 0, 0, 0.5);
    cursor: pointer;
    position: relative;
    right: 60px;
    top: 42px;
}

input {
    background-color: #fff;
    border: none;
    width: 500px;
    padding: 18px;
    outline: none;
    border-radius: 25px;
    font-size: 1em;
    font-family: "Inter";
    position: relative;
    left: 70px;
    top: 50px;
    box-shadow: 0px 2px 5px rgb(0, 0, 0, 0.5);  
}

input::placeholder {
    font-size: 1.2em;
    text-indent: 15px;
}

.task {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    border-bottom: 3px solid #fff;
    margin-top: 20px;
    position: relative;
    top: 50px;
}

.icon-container {
    display: flex;
    gap: 25px;
}

p {
    color: #fff;
    font-size: 2em;
    margin: 0; /* Remove default margin */
}

i {
    color: #fff;
    font-size: 20px;
}

.task-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

#task-list {
    overflow-y: scroll; /* Vertical scrolling */
    height: 200px;      /* Fixed height for scrolling */
    width: 500px;       /* Fixed width */
    background-color: transparent;
    padding: 10px;      /* Padding for content spacing */
    box-sizing: border-box;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;  /* Add margin for separation */
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Stack vertically */
    width: 100%;
}

.red {
    transition: all 0.3s;
}

.red:hover {
    color: red;
    cursor: pointer;
}

.green {
    transition: all 0.3s;
}

.green:hover {
    color: rgb(1, 154, 1);
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    body {
        width: 100%;
        height: 100%;
    }
    h1{
        position: relative;
        top: 130px;
    }
    input {
      width: 300px;
      position: relative;
      top: 95px;
      border-radius: 35px;
      box-shadow: 0px 2px 5px rgb(0, 0, 0, 0.5); 
    }
    #add-task{
        position: relative;
        top: 88px;
    }
    #change-bg{
        position: relative;
        top: 70px;
    }
    h1 {
        font-size: 80px;
    }
    #task-list {
        height: 600px;
    }
    .red:active {
        color: red;
    }
    .green:active {
        color: rgb(1, 154, 1);
    }
}

.bgChanger-container{
    position: relative;
    bottom: 200px;
}

#change-bg{
    height: 40px;
    width: 200px;
    border-radius: 30px;
    border: none;
    font-family: "Inter";
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    font-size: 1.2em;
}
